.image-slider {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #ffffff;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: #0000008a;
  --control-bullet-color: #000000;
  --control-bullet-active-color: rgba(0, 0, 0, 0.75);
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.image-slider {
  --caption-background-color: rgba(0, 0, 0, 0.75);
}
.image-slider .caption {
  display: flex;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.image-slider .caption p {
  background-color: var(--caption-background-color);
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  transition: transform 0.425s cubic-bezier(0.05, 0.65, 0.1, 0.95),
    opacity 300ms ease-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media (max-width: 600px) {
  .image-slider .caption p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 400px) {
  .image-slider .caption p {
    font-size: 12px;
    line-height: 14px;
  }
}
.image-slider--exit .caption p {
  transition: transform 225ms cubic-bezier(0.85, 0, 0.85, 0.7) 75ms,
    opacity 275ms ease-out 175ms;
}
.image-slider--moveLeft .caption p {
  transform: translate3d(-50px, 0, 0.01px);
  opacity: 0;
}
.image-slider--moveRight .caption p {
  transform: translate3d(50px, 0, 0.01px);
  opacity: 0;
}

.maps-el {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
